.login-box{
	width: 100%;
	height: 100%;
	background-color: $uni-bg-color;
	background-image: url('@/static/image/login_bg.png');
	background-repeat: no-repeat;
	background-size: 100% 293rpx;
	position: relative;
	
	.fill-box{
		padding: 293rpx 65rpx 0;
		
		input{
			width: 100%;
			height: 90rpx;
			margin-top: 34rpx;
			background-color: #F9F9F9;
			border-radius:12rpx;
			border:1rpx solid #E2E2E2;
			color: #4A4A4A;
			font-size: $uni-font-size-f5;
			padding-left: 87rpx;
			background-repeat: no-repeat;
			background-size: 38rpx;
			background-position:18rpx 26rpx;
		}
		
		input::-webkit-input-placeholder {
		    color: #9B9B9B;
		    font-size: $uni-font-size-f5;
		}
		
		.phone-box{
			position: relative;
			
			.icon{
				position: absolute;
				width: 30rpx;
				height: 30rpx;
				right: 28rpx;
				top: 30rpx;
			}
		}
		
		.code-box{
			position: relative;
			
			text{
				width: 120rpx;
				display: inline-block;
				position: absolute;
				top: 30rpx;
				right: 28rpx;
				color: $uni-color-primary;
				font-size: 22rpx;
				text-align: right;
			}
			
			input{
				padding-right: 120rpx;
			}
		}
		
		.phone{
			background-image: url('@/static/image/phone.png');
		}
		
		.password{
			background-image: url('@/static/image/password.png');
		}
		
		.btn{
			margin-top: 50rpx;
			width: 100%;
			height: 88rpx;
			line-height: 88rpx;
			background: $uni-color-primary;
			color: $uni-white-color;
			border-radius:45rpx;
			font-size: $uni-font-size-f5;
		}
		
		.code{
			margin-top: 45rpx;
			text-align: center;
			color: #303030;
			font-size: 26rpx;
		}
	}

	.wechat-box{
		width: 150rpx;
		position: absolute;
		bottom: 44rpx;
		left: 0;
		right: 0;
		margin: 0 auto;
		
		.icon{
			width: 76rpx;
			height: 76rpx;
			margin: 0 auto;
		}
		
		p{
			text-align: center;
			margin-top: 11rpx;
			font-size: $uni-font-size-f6;
			color: #8C8C8C;
		}
	}
}