.menu{
	width: 100%;
	min-height: 100%;
	position: relative;
	background: $uni-bg-color;
	
	.header-box{
		width: 100%;
		position: relative;
		
		.header-bg{
			width: 100%;
			height: 200rpx;
			background-color: $uni-pic-bg;
			background-size: cover;
			background-repeat: no-repeat;
		}
		
		.header-icon{
			width: 120rpx;
			height: 120rpx;
			border-radius: 50%;
			background-color: $uni-pic-bg;
			background-size: cover;
			background-repeat: no-repeat;
			margin: 0 auto;
			position: absolute;
			top: 140rpx;
			left: 0;
			right: 0;
		}
		
		.header-title{
			text-align: center;
			font-size: $uni-font-size-f2;
			color: $uni-text-color;
			font-weight: bold;
			margin-top: 70rpx;
		}
	}
	
	.menu-list{
		position: relative;
		margin-top: 20rpx;
		padding-bottom: 98rpx;
		
		.container{
			display: flex;
			height: calc(100vh - var(--window-top));
			
			.nav-list{
				width: 160rpx;
				overflow-y: auto;
				overflow-x: hidden;
				display: flex;
				flex-direction: column;
				align-items: center;
				font-size: $uni-font-size-f5;
				background-color: $uni-text-color-placeholder;
				
				&::-webkit-scrollbar{
					width: 0;
					height: 0;
					background: transparent;
				}
				
				.nav-item{
					width: 100%;
					padding: 40rpx 0;
					text-align: center;
					transition: transform .1s linear;
					
					&.active{
						color: $uni-color-primary;
						transform-origin: center center;
						transform: scale(1.2);
						background-color: $uni-bg-color;
						font-weight: bold;
					}
				}
			}
			    
			.list-wrapper{
				flex: 1;
				position: relative;
				
				.list-container{
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					padding: 0 32rpx;
					box-sizing: border-box;
					
					.list-title{
						height: 88rpx;
						line-height: 88rpx;
						
						.name{
							color: $uni-text-color;
							font-size: $uni-font-size-f5;
						}
						
						.introduce{
							color: $uni-text-color-grey;
							font-size: $uni-font-size-f6;
							margin-left: 15rpx;
						}
					}
					    
					.item-container{
						
						.item{
							width: 100%;
							height: 150rpx;
							margin: 20rpx 0;
							@include vertical-sides();
							
							.food-pic{
								width: 150rpx;
								height: 150rpx;
							}
							
							.content{
								width: 363rpx;
								
								.title{
									display: block;
									color: $uni-text-color;
									font-size: $uni-font-size-f4;
									@include wordEllipsis();
								}
								
								.introduce{
									display: block;
									color: $uni-text-color-grey;
									font-size: $uni-font-size-f6;
									margin-top: 16rpx;
									@include wordEllipsis();
								}
								
								.other{
									margin-top: 10rpx;
									@include vertical-sides();
									
									.price-box{
										
										.price{
											color: $uni-color-primary;
											font-size: $uni-font-size-f4;
											font-weight: bold;
										}
										
										.original-price{
											color: $uni-text-color-grey;
											font-size: $uni-font-size-f5;
											text-decoration: line-through;
											margin-left: 15rpx;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	
	.shopping-cart{
		width: 100%;
		height: 98rpx;
		position: fixed;
		z-index: 3;
		bottom: 0;
		background-color: #505052;
		@include vertical-sides();
		
		.cart-box{
			@include vertical-sides();
			
			.icon-box{
				width: 98rpx;
				height: 98rpx;
				border-radius: 50%;
				position: relative;
				margin:-44rpx 30rpx 0 40rpx ;
				background-color: #444444;
				@include vertical-sides();
				justify-content: center;
				
				.icon{
					width: 78rpx;
					height: 78rpx;
					border-radius: 50%;
					background-color: #363636;
					background-repeat: no-repeat;
					background-size: 48rpx;
					background-position: center;
					background-image: url(bg('static/image/shopping_cart.png'));
					
					&.active{
						background-color: $uni-color-primary;
						background-image: url(bg('static/image/shopping_cart_act.png'));
					}
				}
				
				.num{
					position: absolute;
					top: -6rpx;
					right: -6rpx;
					padding: 3rpx 12rpx;
					border-radius: 50%;
					background-color: $uni-color-error;
					color: $uni-white-color;
					font-size: $uni-font-size-f6;
				}
			}
			
			.price{
				color: $uni-white-color;
				font-size: $uni-font-size-f2;
			}
		}
		
		.operation{
			width: 200rpx;
			height: 98rpx;
			text-align: center;
			line-height: 98rpx;
			color: $uni-text-color-inverse;
			
			&.active{
				background-color: $uni-color-primary;
				font-size: $uni-font-size-f5;
				font-weight: bold;
				color: $uni-white-color;
			}
		}
	}
	
	.dishes-details{
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 1;
		top: 0;
		padding-bottom: 118rpx;
		overflow: hidden;
		background-color: $uni-bg-color;
		
		.details-box{
			width: 100%;
			height: 100%;
			overflow-y: auto;
			
			.dishes-bg{
				width: 100%;
				height: 763.63rpx;
				position: relative;
				
				/*  #ifdef  MP-WEIXIN  */
				margin-top: 142rpx;
				/*  #endif  */
				
				.pic{
					width: 100%;
					height: 763.63rpx;
				}
				
				.icon{
					width: 58rpx;
					height: 58rpx;
					position: absolute;
					top: 18.18rpx;
					right: 27.27rpx;
				}
			}
			
			.details{
				padding: 0 27.27rpx;
				
				.title{
					font-size: $uni-font-size-f2;
					color: $uni-text-color;
					font-weight: bold;
					display: block;
					margin-top: 32.72rpx;
					@include wordEllipsis();
				}
				
				.operation-box{
					margin-top: 32.72rpx;
					@include vertical-sides();
					
					.price-box{
						
						.price{
							color: $uni-color-primary;
							font-size: $uni-font-size-f4;
							font-weight: bold;
						}
						
						.original-price{
							color: $uni-text-color-grey;
							font-size: $uni-font-size-f5;
							text-decoration: line-through;
							margin-left: 20rpx;
						}
					}
					
					.icon-box{
						width: 150rpx;
						@include vertical-sides();
						
						.icon{
							width: 48rpx;
							height: 48rpx;
						}
						
						.num{
							color: $uni-text-color;
							font-size: $uni-font-size-f4;
						}
					}
				}
				
				.science{
					margin-top: 32.72rpx;
					display: block;
					color: $uni-text-color-inverse;
					font-size: $uni-font-size-f5;
				}
			}
		}
	}
	
	.selected-dishes{
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 2;
		top: 0;
		background-color: $uni-bg-color-mask;
		
		.list-box{
			width: 100%;
			min-height: 290.72rpx;
			max-height: 781.62rpx;
			padding-bottom: 98rpx;
			background-color: $uni-bg-color;
			position: absolute;
			bottom: 0;
			overflow: hidden;
			
			.choose-empty{
				height: 83.63rpx;
				background-color: #F0F1F6;
				padding: 0 27.27rpx;
				border-bottom: 1.81rpx solid #E2E4E4;
				@include vertical-sides();
				
				.title{
					font-size: $uni-font-size-f4;
					color: $uni-text-color-inverse;
				}
				
				.empty-right{
					@include vertical-sides();
					
					image{
						width: 48rpx;
						height: 48rpx;
					}
					
					text{
						font-size: $uni-font-size-f5;
						color: $uni-text-color-inverse;
					}
				}
			}
			
			.item-box{
				max-height: 599.99rpx;
				overflow-y: auto;
				
				.list{
					height: 109.09rpx;
					border-bottom: 1.81rpx solid #E2E4E4;
					margin-left: 27.27rpx;
					padding-right: 27.27rpx;
					@include vertical-sides();
					
					.variety-dishes{
						width: 260rpx;
						display: inline-block;
						font-size: $uni-font-size-f4;
						color: $uni-text-color;
						font-weight: bold;
						@include wordEllipsis();
					}
					
					.price-box{
						@include vertical-sides();
						
						.price{
							color: $uni-color-primary;
							font-size: $uni-font-size-f4;
							font-weight: bold;
							margin-left: 20rpx;
						}
						
						.original-price{
							color: $uni-text-color-grey;
							font-size: $uni-font-size-f5;
							text-decoration: line-through;
						}
					}
					
					.icon-box{
						width: 150rpx;
						@include vertical-sides();
						
						.icon{
							width: 48rpx;
							height: 48rpx;
						}
						
						.num{
							color: $uni-text-color;
							font-size: $uni-font-size-f4;
						}
					}
				}
			}
		}
	}
}