.personal-box{
	padding: 20rpx 25rpx 109rpx;
	min-height: 100%;
	background: $uni-bg-color;
	
	.distribution-info{
		width: 100%;
		padding: 30rpx 0 30rpx 30rpx;
		background: $uni-color-primary;
		position: relative;
		border-radius:10rpx;
		margin-bottom: 20rpx;
		
		.user-box{
			height: 100rpx;
			@include vertical-sides();
			justify-content: flex-start;
			
			.user-pic{
				width: 100rpx;
				height: 100rpx;
				border-radius: 50%;
				background-color: $uni-pic-bg;
			}
			
			.user-info{
				margin-left: 24rpx;
				
				.name{
					max-width: 192rpx;
					color: $uni-white-color;
					font-size: $uni-font-size-f4;
					@include wordEllipsis();
				}
				
				.user-id{
					margin-top: 15rpx;
					color: #FFE5D7;
					font-size: $uni-font-size-f5;
				}
			}
		}
	}

	.list{
		width: 100%;
		height: 120rpx;
		padding: 0 20rpx;
		@include vertical-sides();
		border-bottom: 2rpx solid $uni-text-color-disable;
		
		.list-info{
			@include vertical-sides();
			justify-content: flex-start;
			
			.icon{
				width: 58rpx;
				height: 58rpx;
				margin-right: 30rpx;
			}
			
			text{
				font-size: $uni-text-color;
				font-size: $uni-font-size-f5;
			}
		}
	}
}